In [6]:
#importing all of the required libraries
##also importing matplotlib as I believe it's going to make data analysis easier for the team

!pip install matplotlib
import pandas as pd
import numpy as np
from matplotlib import pyplot

Collecting matplotlib
  Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp313-cp313-win_amd64.whl.metadata (103 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\mirko\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in c:\users\mirko\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mirko\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\mirko\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.0 MB 6.7 MB/s eta 0:00:02
   ----------- ---------------------------- 2.4/8.0 MB 6.4 MB/s eta 0:00:01
   ------------------- -------------------- 3.9/8.0 MB 6.6 MB/s eta 0:00:01
   -------------------------- ------------- 5.2/8.0 MB 6.6 MB/s eta 0:00:01
   -------------------------------- ------- 6.6/8.0 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 6.6 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ----------------------- ---------------- 1.3/2.2 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 6.6 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------------- -------------------- 1.3/2.6 MB 6.6 MB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.6 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 5.6 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1

In [8]:
import os
print(os.getcwd())  # This will print your current working directory

C:\Users\Mirko\Desktop\Data_Science\IH_Notebooks\project-1-ironhack-payments-2-en\project_dataset

In [10]:
df_request = pd.read_csv('/Users/Mirko/Desktop/Data_Science/IH_Notebooks/project-1-ironhack-payments-2-en/project_dataset/extract - cash request - data analyst.csv')
df_fees = pd.read_csv('/Users/Mirko/Desktop/Data_Science/IH_Notebooks/project-1-ironhack-payments-2-en/project_dataset/extract - fees - data analyst - .csv')

#Checking if the csv files were imported correctly
print(df_request.head())
print(df_fees.head())

     id  amount    status                     created_at  \
0     5   100.0  rejected  2019-12-10 19:05:21.596873+00
1    70   100.0  rejected   2019-12-10 19:50:12.34778+00
2     7   100.0  rejected   2019-12-10 19:13:35.82546+00
3    10    99.0  rejected  2019-12-10 19:16:10.880172+00
4  1594   100.0  rejected  2020-05-06 09:59:38.877376+00

                      updated_at  user_id                   moderated_at  \
0   2019-12-11 16:47:42.40783+00    804.0  2019-12-11 16:47:42.405646+00
1  2019-12-11 14:24:22.900054+00    231.0  2019-12-11 14:24:22.897988+00
2  2019-12-11 09:46:59.779773+00    191.0  2019-12-11 09:46:59.777728+00
3  2019-12-18 14:26:18.136163+00    761.0  2019-12-18 14:26:18.128407+00
4   2020-05-07 09:21:55.34008+00   7686.0  2020-05-07 09:21:55.320193+00

   deleted_account_id             reimbursement_date  \
0                 NaN  2020-01-09 19:05:21.596363+00
1                 NaN   2020-01-09 19:50:12.34778+00
2                 NaN  2020-01-09 19:13:35.825041+00
3                 NaN  2020-01-09 19:16:10.879606+00
4                 NaN         2020-06-05 22:00:00+00

  cash_request_received_date money_back_date transfer_type send_at  \
0                        NaN             NaN       regular     NaN
1                        NaN             NaN       regular     NaN
2                        NaN             NaN       regular     NaN
3                        NaN             NaN       regular     NaN
4                        NaN             NaN       regular     NaN

  recovery_status reco_creation reco_last_update
0             NaN           NaN              NaN
1             NaN           NaN              NaN
2             NaN           NaN              NaN
3             NaN           NaN              NaN
4             NaN           NaN              NaN
      id  cash_request_id             type    status               category  \
0   6537          14941.0  instant_payment  rejected                    NaN
1   6961          11714.0         incident  accepted  rejected_direct_debit
2  16296          23371.0  instant_payment  accepted                    NaN
3  20775          26772.0  instant_payment  accepted                    NaN
4  11242          19350.0  instant_payment  accepted                    NaN

   total_amount                              reason  \
0           5.0  Instant Payment Cash Request 14941
1           5.0               rejected direct debit
2           5.0  Instant Payment Cash Request 23371
3           5.0  Instant Payment Cash Request 26772
4           5.0  Instant Payment Cash Request 19350

                      created_at                     updated_at  \
0   2020-09-07 10:47:27.42315+00  2020-10-13 14:25:09.396112+00
1  2020-09-09 20:51:17.998653+00  2020-10-13 14:25:15.537063+00
2  2020-10-23 10:10:58.352972+00  2020-10-23 10:10:58.352994+00
3  2020-10-31 15:46:53.643958+00  2020-10-31 15:46:53.643982+00
4  2020-10-06 08:20:17.170432+00  2020-10-13 14:25:03.267983+00

                         paid_at from_date to_date charge_moment
0   2020-12-17 14:50:07.47011+00       NaN     NaN         after
1   2020-12-08 17:13:10.45908+00       NaN     NaN         after
2   2020-11-04 19:34:37.43291+00       NaN     NaN         after
3  2020-11-19 05:09:22.500223+00       NaN     NaN         after
4  2020-11-02 14:45:20.355598+00       NaN     NaN         after

In [11]:
#creating a copy of both dfs to play around with them

df_copy1 = df_request.copy()
df_copy2 = df_fees.copy()

In [13]:
print(df_copy1.shape)
print(df_copy2.shape)

(23970, 16)
(21061, 13)

In [14]:
df_request.describe().T

,count,mean,std,min,25%,50%,75%,max
id,23970.0,13910.966124,7788.117214,3.0,7427.25,14270.5,20607.75,27010.0
amount,23970.0,82.720818,26.528065,1.0,50.00,100.0,100.00,200.0
user_id,21867.0,32581.250789,27618.565773,34.0,10804.00,23773.0,46965.00,103719.0
deleted_account_id,2104.0,9658.755228,7972.743249,91.0,3767.00,6121.5,16345.00,30445.0

In [15]:
df_fees.describe().T

,count,mean,std,min,25%,50%,75%,max
id,21061.0,10645.355111,6099.315256,1.0,5385.0,10652.0,15925.0,21193.0
cash_request_id,21057.0,16318.449162,6656.149949,1456.0,11745.0,17160.0,21796.0,27010.0
total_amount,21061.0,5.000237,0.034453,5.0,5.0,5.0,5.0,10.0

In [17]:
df_request.sample(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
9946,24826,25.0,direct_debit_rejected,2020-10-26 19:18:19.823184+00,2020-12-02 22:20:00.620065+00,29163.0,NaN,NaN,2020-11-23 22:00:00+00,2020-10-29,NaN,instant,2020-10-26 19:18:43.596894+00,pending,2020-12-02 22:20:00.646697+00,2020-12-02 22:20:00.646709+00
13566,7618,100.0,money_back,2020-07-11 14:45:53.09136+00,2020-12-18 13:09:50.621196+00,14510.0,2020-07-11 16:47:11.339623+00,NaN,2020-07-31 22:00:00+00,2020-07-14,2020-08-22 22:14:46.047841+00,regular,NaN,completed,2020-08-22 22:14:43.120244+00,2020-08-22 22:14:46.060319+00
9078,1018,50.0,money_back,2020-04-01 06:51:30.941429+00,2020-11-04 12:55:36.964536+00,66.0,2020-04-01 08:06:22.782097+00,NaN,2020-05-03 22:00:00+00,2020-04-01,2020-05-12 20:20:56.334244+00,regular,NaN,NaN,NaN,NaN
6504,15811,100.0,rejected,2020-09-12 08:46:14.193442+00,2020-09-12 09:33:52.288645+00,32000.0,2020-09-12 09:33:52.281161+00,NaN,2020-09-29 08:46:14.152372+00,NaN,NaN,instant,2020-09-19 08:46:14.152372+00,NaN,NaN,NaN
9086,869,100.0,direct_debit_rejected,2020-03-13 09:30:23.537354+00,2020-12-29 22:04:00.433063+00,1547.0,2020-03-13 13:45:24+00,NaN,2020-03-29 22:00:00+00,2020-03-17,2020-08-27 01:01:53+00,regular,NaN,completed,2020-05-05 13:51:06.616406+00,2020-08-27 01:01:53.266294+00
5467,13422,100.0,rejected,2020-08-20 19:51:01.92439+00,2020-08-21 08:27:03.951407+00,27302.0,2020-08-21 08:27:03.943839+00,NaN,2020-09-11 22:00:00+00,NaN,NaN,instant,2020-08-27 19:51:01.869566+00,NaN,NaN,NaN
372,551,100.0,rejected,2020-01-29 17:28:46.665314+00,2020-01-30 10:39:55.759677+00,2923.0,2020-01-30 10:39:55.756546+00,NaN,2020-02-28 17:28:46.664937+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
7160,19221,50.0,rejected,2020-10-05 07:38:34.97379+00,2020-10-05 08:35:39.595609+00,50654.0,2020-10-05 08:35:39.590082+00,NaN,2020-11-05 22:00:00+00,NaN,NaN,regular,2020-10-12 07:38:34.919092+00,NaN,NaN,NaN
14474,12500,100.0,money_back,2020-08-14 13:30:35.646515+00,2020-12-18 13:10:11.797305+00,19314.0,2020-08-14 13:43:12.60598+00,NaN,2020-11-14 11:00:00+00,2020-08-18,2020-11-14 19:40:42.284846+00,instant,2020-08-21 13:30:35.597434+00,NaN,NaN,NaN
9023,1275,100.0,money_back,2020-04-17 20:54:41.631816+00,2020-11-04 12:55:31.388288+00,1127.0,2020-04-17 21:00:47.106148+00,NaN,2020-04-26 22:00:00+00,2020-04-20,2020-05-05 20:27:10.594208+00,regular,NaN,NaN,NaN,NaN

In [18]:
df_fees.sample(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
3981,13569,21189.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21189,2020-10-15 00:38:46.604705+00,2020-10-15 00:38:46.604727+00,2020-10-30 19:39:16.891748+00,NaN,NaN,after
20785,8759,6803.0,incident,rejected,month_delay_on_payment,5.0,month delay on payment - 9/2020,2020-09-23 01:05:11.641437+00,2020-10-13 14:25:13.211427+00,2020-10-08 07:03:38.865757+00,NaN,NaN,after
1766,928,1554.0,postpone,accepted,NaN,5.0,Postpone Cash Request 1554,2020-07-01 23:07:59.917774+00,2020-10-13 14:25:01.81737+00,2020-07-01 23:08:03.927568+00,2020-07-06 22:00:00+00,2020-08-05 22:00:00+00,before
17337,5203,8713.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 8713,2020-08-26 14:41:15.386072+00,2020-10-13 14:25:17.208095+00,NaN,2020-09-02 22:00:00+00,2020-09-13 22:00:00+00,after
10009,2732,10374.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 10374,2020-08-04 10:28:03.510749+00,2020-10-13 14:25:04.397399+00,NaN,2020-09-07 22:00:00+00,2020-10-07 22:00:00+00,after
1728,2115,7538.0,postpone,accepted,NaN,5.0,Postpone Cash Request 7538,2020-07-27 16:49:35.678553+00,2020-10-13 14:25:01.730074+00,2020-07-27 16:49:40.323982+00,2020-08-05 22:00:00+00,2020-09-04 22:00:00+00,before
9692,12631,20444.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20444,2020-10-11 11:02:05.016949+00,2020-10-13 14:25:03.737706+00,2020-11-05 20:21:55.353573+00,NaN,NaN,after
4456,7728,16097.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 16097,2020-09-15 09:11:09.986964+00,2020-10-13 14:25:08.504755+00,2020-11-02 07:31:54.611123+00,NaN,NaN,after
15401,9539,18060.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 18060,2020-09-27 12:49:29.056635+00,2020-10-13 14:25:14.301863+00,2020-10-07 13:38:11.276766+00,NaN,NaN,after
13590,7351,11428.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-12 00:09:57.301472+00,2020-10-13 14:25:10.643963+00,2020-09-12 00:10:06.622837+00,NaN,NaN,after

In [19]:
df_request.columns

Index(['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id',
       'moderated_at', 'deleted_account_id', 'reimbursement_date',
       'cash_request_received_date', 'money_back_date', 'transfer_type',
       'send_at', 'recovery_status', 'reco_creation', 'reco_last_update'],
      dtype='object')

In [22]:
df_request["status"].value_counts()

status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

In [23]:
df_request["recovery_status"].value_counts()

recovery_status
completed               2468
pending                  845
pending_direct_debit      16
cancelled                  1
Name: count, dtype: int64

In [28]:
df_copy1 = df_request.copy()

In [30]:
df_copy1.columns

Index(['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id',
       'moderated_at', 'deleted_account_id', 'reimbursement_date',
       'cash_request_received_date', 'money_back_date', 'transfer_type',
       'send_at', 'recovery_status', 'reco_creation', 'reco_last_update'],
      dtype='object')

In [31]:
print(df_copy1["status"].dtype)

object

In [35]:
df_copy1 = df_request.copy()

In [36]:
df_copy1= df_copy1.loc[(df_copy1["status"] == "rejected")]
df_copy1.sample(20)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
1682,4475,100.0,rejected,2020-06-21 09:09:42.978909+00,2020-06-22 17:02:08.421538+00,18582.0,2020-06-22 17:02:08.417808+00,NaN,2020-07-08 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1485,5540,30.0,rejected,2020-06-26 21:23:47.304646+00,2020-06-27 14:47:20.548782+00,13049.0,2020-06-27 14:47:20.544111+00,NaN,2020-07-06 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3112,7557,100.0,rejected,2020-07-11 05:57:41.799737+00,2020-07-11 12:19:09.429306+00,NaN,2020-07-11 12:19:09.427219+00,25993.0,2020-08-04 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
7747,12420,100.0,rejected,2020-08-14 04:46:05.325403+00,2020-08-14 08:10:43.975113+00,NaN,2020-08-14 08:10:43.971083+00,8221.0,2020-08-31 04:46:05.278221+00,NaN,NaN,instant,2020-08-21 04:46:05.278221+00,NaN,NaN,NaN
2010,7289,100.0,rejected,2020-07-09 08:15:34.102376+00,2020-07-09 08:47:42.811521+00,24449.0,2020-07-09 08:47:42.80864+00,NaN,2020-08-02 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
6119,15056,100.0,rejected,2020-09-08 04:38:33.624801+00,2020-09-08 08:57:02.187196+00,37308.0,2020-09-08 08:57:02.177386+00,NaN,2020-10-07 22:00:00+00,NaN,NaN,regular,2020-09-15 04:38:33.552769+00,NaN,NaN,NaN
3186,14875,80.0,rejected,2020-09-06 20:48:59.402667+00,2020-09-07 07:33:28.209948+00,30251.0,2020-09-07 07:33:28.202728+00,NaN,2020-10-07 22:00:00+00,NaN,NaN,regular,2020-09-13 20:48:59.359616+00,NaN,NaN,NaN
7560,18022,50.0,rejected,2020-09-26 20:03:58.120404+00,2020-09-27 08:04:42.150805+00,36427.0,2020-09-27 08:04:42.142648+00,NaN,2020-10-13 20:04:24.865616+00,NaN,NaN,regular,2020-10-03 20:03:58.092137+00,NaN,NaN,NaN
1187,3268,100.0,rejected,2020-06-13 21:17:47.995635+00,2020-06-14 14:23:04.897258+00,9901.0,2020-06-14 14:23:04.89343+00,NaN,2020-07-03 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1769,8622,100.0,rejected,2020-07-17 10:27:10.283909+00,2020-07-17 16:05:26.564922+00,18148.0,2020-07-17 16:05:26.562393+00,NaN,2020-08-06 10:27:25.856+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2885,7415,100.0,rejected,2020-07-10 05:45:37.709742+00,2020-07-10 06:38:52.067654+00,NaN,2020-07-10 06:38:52.065217+00,3031.0,2020-08-04 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
353,1065,100.0,rejected,2020-04-07 18:17:43.13522+00,2020-04-14 08:22:42.00909+00,NaN,2020-04-08 09:54:16.650343+00,730.0,2020-05-06 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
6582,15934,50.0,rejected,2020-09-13 08:39:49.321827+00,2020-09-13 12:22:00.242237+00,17519.0,2020-09-13 12:22:00.23253+00,NaN,2020-10-05 22:00:00+00,NaN,NaN,instant,2020-09-20 08:39:49.277759+00,NaN,NaN,NaN
7793,19210,100.0,rejected,2020-10-05 06:47:30.875027+00,2020-10-05 08:27:33.795234+00,NaN,2020-10-05 08:27:33.787859+00,9674.0,2020-10-29 22:00:00+00,NaN,NaN,regular,2020-10-12 06:47:30.836526+00,NaN,NaN,NaN
780,1944,100.0,rejected,2020-05-17 08:04:03.351372+00,2020-05-17 17:32:40.769004+00,8955.0,2020-05-17 17:32:40.765098+00,NaN,2020-05-30 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2275,12882,100.0,rejected,2020-08-18 07:05:50.151007+00,2020-08-18 09:44:05.559836+00,8983.0,2020-08-18 09:44:05.555166+00,NaN,2020-09-04 07:05:50.116746+00,NaN,NaN,instant,2020-08-25 07:05:50.116746+00,NaN,NaN,NaN
6063,14998,50.0,rejected,2020-09-07 17:39:59.55179+00,2020-09-07 18:45:11.233745+00,NaN,2020-09-07 18:45:11.226862+00,4947.0,2020-10-02 22:00:00+00,NaN,NaN,instant,2020-09-14 17:39:59.493759+00,NaN,NaN,NaN
3740,9730,100.0,rejected,2020-07-26 13:47:09.398008+00,2020-07-26 15:44:09.960446+00,33747.0,2020-07-26 15:44:09.956781+00,NaN,2020-08-04 22:00:00+00,NaN,NaN,regular,2020-08-02 13:47:09.397253+00,NaN,NaN,NaN
7460,17776,50.0,rejected,2020-09-25 08:20:42.69084+00,2020-09-25 09:40:29.951757+00,46822.0,2020-09-25 09:40:29.943089+00,NaN,2020-10-29 23:51:00+00,NaN,NaN,instant,2020-10-02 08:20:42.663503+00,NaN,NaN,NaN
6731,18637,50.0,rejected,2020-10-01 07:06:25.316517+00,2020-10-01 08:17:18.921075+00,55752.0,2020-10-01 08:17:18.913016+00,NaN,2020-11-05 22:00:00+00,NaN,NaN,instant,2020-10-08 07:06:25.273732+00,NaN,NaN,NaN

##Important findings

this is the information I was able to define with the data information we are given:

- created_at: is the date in which the customer has placed the request.
- send_at: is also the date in which the customer has placed the request. If NaN suggestion is to replace with the created_at. This can be dropped as dup info
- cash_request_received_date: is the date in which the customer has received the money from IronHack Payments. If NaN suggestion is to replace with send_at
- reimbursement_date: is the date in which the customer has paid a given amount of money
- money_back_date: is the last day available to return the money to IronHack
- reco_created: it appears as being a date where an issue was created
- reco_last_update: it appears to be the date in which last issue update was made

Based on this information we can pull the following information:

When the customers made the first request (cohort)
When the customers had to return the money (how do we filter the ones who did it in time vs the late payments?)
If there's info about reco_created what are the issues?

In [37]:
df_fees.columns

Index(['id', 'cash_request_id', 'type', 'status', 'category', 'total_amount',
       'reason', 'created_at', 'updated_at', 'paid_at', 'from_date', 'to_date',
       'charge_moment'],
      dtype='object')

In [38]:
df_fees["status"].value_counts()

status
accepted     14841
cancelled     4938
rejected      1194
confirmed       88
Name: count, dtype: int64

In [39]:
df_fees["reason"].value_counts()

reason
rejected direct debit                 1599
month delay on payment - 9/2020        283
month delay on payment - 8/2020        203
month delay on payment - 10/2020       102
Postpone Cash Request 12225             34
                                      ...
Instant Payment Cash Request 26088       1
Instant Payment Cash Request 20832       1
Instant Payment Cash Request 13056       1
Instant Payment Cash Request 19487       1
Postpone Cash Request 25490              1
Name: count, Length: 15149, dtype: int64

In [41]:
df_copy2 = df_copy2.loc[(df_copy2["status"] == "cancelled")]
df_copy2.sample(20)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
12507,5888,10117.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 10117,2020-09-03 15:16:59.025445+00,2020-10-13 14:25:08.773132+00,NaN,2020-09-04 22:00:00+00,2020-10-04 22:00:00+00,after
18092,12225,18264.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 18264,2020-10-09 11:44:06.831818+00,2020-10-13 14:25:18.302075+00,NaN,2020-10-08 22:00:00+00,2020-11-04 11:00:00+00,after
18109,8892,15319.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 15319,2020-09-23 15:41:11.049608+00,2020-10-13 14:25:18.329471+00,NaN,2020-09-30 22:00:00+00,2020-10-22 22:00:00+00,after
15791,1760,8752.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 8752,2020-07-22 08:15:28.279298+00,2020-10-13 14:25:15.00353+00,NaN,2020-08-05 22:00:00+00,2020-09-04 22:00:00+00,after
17852,7689,15841.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 15841,2020-09-15 06:59:40.384705+00,2020-10-13 14:25:17.944523+00,NaN,2020-10-01 22:00:00+00,2020-10-14 22:00:00+00,after
16354,753,3445.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 3445,2020-06-29 04:45:13.565301+00,2020-10-13 14:25:15.862126+00,NaN,2020-07-03 22:00:00+00,2020-07-18 22:00:00+00,after
11247,10797,18651.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 18651,2020-10-04 04:35:26.011023+00,2020-10-13 14:25:06.665397+00,NaN,2020-10-08 23:51:00+00,2020-11-06 11:00:00+00,after
6844,21080,22032.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 22032,2020-11-01 16:35:36.552478+00,2020-11-01 16:35:36.552501+00,NaN,2020-11-29 23:00:00+00,2020-12-29 23:00:00+00,before
16010,2221,5891.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 5891,2020-07-28 17:09:33.387994+00,2020-10-13 14:25:15.348129+00,NaN,2020-08-02 22:00:00+00,2020-09-02 17:09:47.65+00,after
6989,21085,19177.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 19177,2020-11-01 16:45:16.490275+00,2020-11-01 16:45:16.490301+00,NaN,2020-11-04 22:00:00+00,2020-11-17 23:00:00+00,before
6431,20321,20484.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 20484,2020-10-30 17:07:23.447424+00,2020-10-30 17:07:23.447447+00,NaN,2020-11-05 22:00:00+00,2020-12-03 11:00:00+00,before
17278,6392,11477.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 11477,2020-09-06 16:02:04.952222+00,2020-10-13 14:25:17.128234+00,NaN,2020-09-07 22:00:00+00,2020-10-07 22:00:00+00,after
17622,6143,13551.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 13551,2020-09-05 06:39:04.89196+00,2020-10-13 14:25:17.629256+00,NaN,2020-09-07 22:00:00+00,2020-10-07 22:00:00+00,after
4106,19809,21165.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 21165,2020-10-29 16:36:06.382936+00,2020-10-29 16:36:06.382966+00,NaN,2020-11-10 21:52:00+00,2020-12-09 23:00:00+00,before
4084,15964,19927.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 19927,2020-10-22 13:35:51.677448+00,2020-10-22 13:35:51.677482+00,NaN,2020-11-12 19:22:00+00,2020-11-23 23:00:00+00,before
975,20228,19832.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 19832,2020-10-30 16:53:00.074366+00,2020-10-30 16:53:00.074388+00,NaN,2020-11-05 22:00:00+00,2020-12-05 11:00:00+00,before
2253,14013,19276.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 19276,2020-10-16 11:10:40.179904+00,2020-10-16 11:10:40.179929+00,NaN,2020-10-15 22:00:00+00,2020-11-03 23:00:00+00,after
4217,20826,19831.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 19831,2020-10-31 18:24:23.989709+00,2020-10-31 18:24:23.989733+00,NaN,2020-11-05 23:51:00+00,2020-12-05 23:00:00+00,before
16950,3596,6563.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 6563,2020-08-12 15:54:48.786125+00,2020-10-13 14:25:16.641231+00,NaN,2020-08-04 22:00:00+00,2020-09-04 15:54:47.109+00,after
7719,14961,20071.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 20071,2020-10-19 23:18:00.026267+00,2020-10-19 23:18:00.026289+00,NaN,2020-10-24 09:20:05.19+00,2020-10-30 23:00:00+00,before

##Findings for the fees df:

-status column relates to the actual status of the cash_request_id and reason gives more information about it

the dfs seem to be able to be joined on Id and cash_request.id